h1{
    background-color: lightpink;
    text-align: center;
    border: 10px solid blue;
    padding: 10px;
    font-size: 40px;

}
body{
    background-color: ivory;
    
    padding:2px;
}
footer{
    p{
        color: red;
    }

}
