h1{
    background-color: lightpink;
    text-align: center;
    border: 10px solid blue;
    padding: 10px;
    font-size: 40px;
    

}
body{
    background-color: ivory;
    padding:2px;
    
    
}
p{
        padding: 10px;
        border: 10px;
        margin-bottom: 10px;

    
    
}
.para{
    padding: 10px;
    border: 10px;
}

footer{
    p{
        color: red;
    }
    
    
    }
button:hover{
    background-color: black;
    color: white;
}
button{
    border-radius: 10px;
}
.table{
    width: 100%;
    text-align: center;
    
} 
table,td,th{
   
    border: 2px solid black;
    text-align: center;
    
}

